## Compilação .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Diretórios de log
*.log

## Visual Studio
.vscode/
.vs/
.vscode/*
*.dbmdl
*.psess
*.vsp
*.vspscc
*.vssscc
*.cache
*.ncb
*.sdf
*.sln.docstates
*.suo
*.userprefs
 
## Arquivos de publicação
publish/
out/

## Configurações locais
appsettings.Development.json
appsettings.Local.json
appsettings.*.local.json

## Rider / JetBrains
.idea/
*.sln.iml

## pacotes NuGet (caso use restore automático)
packages/
*.nupkg

## Testes e cobertura
TestResults/
*.coverage
*.coveragexml
*.code-coverage
*.trx
*.log

## Docker (opcional)
*.container
docker-compose.override.yml

## Node/NPM (caso integre front)
node_modules/

## Outros
.env
.env.*
!.env.example
*.sqlite
*.db
/src/4Manager.API/.env
